-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 人才招募
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.recruit
	.row
		.col-xs-12
			span.svg(style="background:url("+url+"recruit-img.svg); width: 428px; height: 149px;")
			.text.left
				h3.title.text-yellow.fz28 2018天鷹保全擴展年招募！
				h4.sub-title
					b 擁有優質特勤與符合保全人員條件的您，
					br
					b 歡迎一起加入快樂鷹雄隊！
			.btn 馬上應徵

.page.section.section-2.container-fluid.recruit
	.row
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-1.svg); width: 80px; height:80px;")
				.text
					p 依據勞動基準法等有關法令，並參酌經營環境的改變，適時修改各項管理規章，創造人性化的管理制度。107.04.13通過ISO 9001 2015改版認證，目前正積極朝TTQS(訓練品質認證)邁進，同仁學習日益扎實，客戶滿意年年提升。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-2.svg); width: 80px; height:80px;")
				.text
					p 除依法給予勞工保險外，公司為多重保障同仁安全，另投保團體意外險，同時全額提供全體同仁每年健康檢查乙次，使同仁安心工作，眷屬無憂。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-3.svg); width: 80px; height:80px;")
				.text
					p 同仁勞保、健保，均依國家規定以足額薪資總額之投保級距予以加保，勞退新制實施後，天鷹保全由公司全額足額提撥6%勞退基金，保障員工在職時及退休後完整權益，已然係同業楷模。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-4.svg); width: 80px; height:80px;")
				.text
					p 符合勞動基準法及保全業法之休假規範，4周工時288小時，超過半年即給予年假特休，不致超時過勞；如係政府規定之假日上勤，均依規範發給工資，確保員工工作權益，樂當快樂鷹雄隊成員。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-5.svg); width: 80px; height:80px;")
				.text
					p 定期由員工推選，成立職工福利委員會，每年享有生日慶禮、年節禮金、活動補貼，婚喪喜慶均規劃制定互助補助辦法，加入天鷹大家庭，親如家人，氣氛溫馨。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+ url +"recruit-icon-6.svg); width: 80px; height:80px;")
				.text
					p 依保全業法施行專業課程訓練；建立區域督導制度，分赴案點進行在職教育，宣達公司政策及重大案例說明；定期集中回訓，落實服務理念及勤教實測，確保服務不漏失，客戶安全有保障。
