-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 精緻科技物業
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.property
	.row
		.col-sm-12.col-xs-12
			h3.title 物業經營理念
			p
				b 天鷹精緻科技物業，隨著科技不斷進步與國人對生活品質安全的需求提升；天鷹不斷思考如何將服務與安全的概念融合昇華，秉持著安全、精緻、智慧科技的核心價值，提供最人性化智慧的精緻物業服務。
		.col-sm-12.col-xs-12
			h3.title 物業服務項目
			.content
				img.img-responsive.center-block(src=url+"peoperty-01-img.png", alt="")
				.list-content
					ul.list-inline
						li 豪宅/ 精品住宅
						li 休閒渡假中心
						li 商務型住宅
						li 酒店式公寓
						li 資產管理規劃與執行
						li 銷售中心飯店式服務模式與質感呈現
						li 星級員工宿舍/學生宿舍
						li 複合式商場
						li 銀髮養生住宅
						li 大型別墅社區