-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 關於我們
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.aboutus.aboutus-2
	.row
		.col-sm-5.col-xs-12.text
			p 天鷹保全公司，雖已在安防保全市場，建立了專業踏實的品牌價值，但我們從不以此自滿，天鷹時時刻刻，都在期許全體同仁，必須密切關注市場變化，認真傾聽顧客需求與建議，隨時作為自我惕勵與改進的參考。
			p 儘管主管級業管機關及全體客戶對天鷹保全多所肯定，二十餘年來獲獎無數，媒體報導者眾，但天鷹仍一本服務初衷，兢兢業業，不敢稍有怠忽，力求精進，以臻至善。
		.col-sm-7.col-xs-12.img
			img.img-responsive(src=url+"aboutus-2-img-1.png", alt="")
			
.page.section.section-2.container-fluid.aboutus.aboutus-2
	.row
		.col-sm-12.col-xs-12.img
			img.img-responsive(src=url+"aboutus-2-img-2.jpg", alt="")