-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 網站地圖
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.sitemap
	.row
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 關於我們
				ul
					li
						a(href="") 公司簡介
					li
						a(href="") 組織架構
					li
						a(href="") 快樂鷹雄隊
					li
						a(href="") 獎項肯定
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 精緻科技物業
				ul
					li
						a(href="") 物業服務
					li
						a(href="") 物業顧問
					li
						a(href="") 科技物業
					li
						a(href="") 安全監控產品
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 保全服務
				ul
					li
						a(href="") 貼身隨扈
					li
						a(href="") 機敏警衛隊
					li
						a(href="") 展演活動
					li
						a(href="") 科技園區
					li
						a(href="") 社區、工地駐衛
					li
						a(href="") 霹靂嬌娃
					li
						a(href="") 股東大會
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 最新消息
				ul
					li
						a(href="") 最新消息
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 聯絡我們
				ul
					li
						a(href="") 聯絡我們
		.col-sm-4
			.content
				h3.title.text-yellow.fz32 代表客戶
				ul
					li
						a(href="") 代表客戶