-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
  .row
    .col-xs-12
      .img
        img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
        img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
      .text
        .content.text-center
          h3.title.fz48.text-white 聯絡我們
          h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.contact
  .row
    .col-sm-6.map
      h3.title.fz24 台北勤務中心
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.628162337247!2d121.4650693150064!3d25.04668998396642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a86061a8cebf%3A0x8a238de0785c371c!2zMjQx5paw5YyX5biC5LiJ6YeN5Y2A6YeN5paw6Lev5LqU5q61NjA55be3MTAtNuiZn-aok-S5izI!5e0!3m2!1szh-TW!2stw!4v1567436013114!5m2!1szh-TW!2stw" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      .content
        p
          b 新北市三重區重新路五段609巷10號4樓之2
        p
          | 洽詢保全相關業務
        p
          | 尋找保全工作:
          | (02) 2278 -7189 # 112 業務部
        p
          | E-mail:
          a(href="mailto: hrm@cecsmail.com.tw") hrm@cecsmail.com.tw
        //- table
        //-   tr
        //-     td 尋找保全工作:
        //-     td 
        //-   tr
        //-     td E-mail:
        //-     td
        //-       a(href="mailto: hrm@cecsmail.com.tw") hrm@cecsmail.com.tw
    .col-sm-6.form
      h3.title 聯絡我們
      p
        | 若您有任何天鷹保全相關之問題，歡迎您填寫以下表單與我們聯絡，
        br
        | 我們會儘速為您回覆(標示 * 號為必填欄位)，謝謝！
      | ===MODULE===