-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 保全服務
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.service
	.row.reverse
		.col-sm-3.col-xs-12
			p
				b 險境脫離 終極保鑣
			p
				| 天鷹保全之特勤人員是以國軍特勤人員退役為基礎，武術技能為基本要求，且皆需通過國家檢定達段位以上。
				br
				| 除段證為基本要求，另定期接受具備跆拳、柔道等武術特殊之專業技能訓練，定時檢測體能。執行貼身隨扈勤務，防範威脅、暴力侵犯，以客戶的安全為第一考量。
		.col-sm-9.col-xs-12
			img.img-responsive.center-block(src=url+"service_03.png", alt="")
	.row
		.col-xs-12
			img.img-responsive.center-block(src=url+"service-img-1.jpg", alt="")