-var url = '/ezfiles/671/1671/img/8854/'
.page-banner.container-fluid
	.row
		.col-xs-12
			.img
				img.hidden-xs.img-responsive(src=url+"page-banner.jpg", alt="")
				img.visible-xs.img-responsive(src=url+"page-banner-mb.jpg", alt="")
			.text
				.content.text-center
					h3.title.fz48.text-white 關於我們
					h4.sub-title.fz20.text-white 忠誠保密，穩健永續

.page.section.section-1.container-fluid.aboutus
	.row
		.col-sm-5.col-xs-12.text
			p 天鷹保全，創立於西元1989年10月1日，以提供“私人隨扈”為核心服務；1993年為因應保全業法規範及社會環境之變遷，並基於企業社會責任及響應政府政策，協力維護治安，防範暴力威脅，公司重整並擴大服務範圍，自成立以來已有27年，迄至2017年9月1日轉換經營團隊，由欣陸集團改為國揚集團經營。
			p 天鷹保全，首創國內私人近衛隨扈服務，隨後逐漸跨足特勤編組、警衛專隊、駐衛保全、安控系統及安全顧問規畫領域，堅持守法，並踏實穩定經營。
			p 天鷹保全，本著元首級護衛的專業，不斷提昇公司服務品質；並藉由嚴格之特殊訓練，以提供客戶最有效的安全防護工作。歷經多年努力，在業界締造優良商譽，並深獲客戶信任與肯定。
		.col-sm-7.col-xs-12.img
			img.img-responsive(src=url+"banner-2.jpg", alt="")
			
.page.section.section-2.container-fluid.aboutus
	.row
		.col-sm-6.col-xs-12.img
			img.img-responsive(src=url+"aboutus-img.png", alt="")
		.col-sm-6.col-xs-12.text
			h3.title.text 預防威脅的專家
			p 因應社會變化，各種暴力傷害威脅事件與日俱增，天鷹保全除持續精進人身護衛及駐衛保全服務外，並累積多年經驗，投入發展安全管理諮詢顧問及全方位安全監控機制；針對客戶環境及個別需求，先期可以提供“危機分析→威脅評估→安全規劃→警衛計畫“等全方位的安全管理諮詢顧問服務，現今更藉由高科技資通訊雲端安控系統，輔助提昇安防等級及價值，已然是國內最權威的威脅預防專業公司。

.page.section.section-3.container-fluid.aboutus
	.row
		.col-xs-12
			h3.title 服務理念
	.row.list
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+url+"aboutus-icon-1.svg);width: 80px; height: 80px;")
				.text
					p 保全人員之人格特質及品德操守，攸關任務執行之成敗。天鷹對保全人員實施嚴格篩選與查核，並以忠誠、保密為優先考量，對客戶任何資料絕對保密，更不涉及公司業務及個人隱私，使天鷹成為您值得信賴、放心的好夥伴。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+url+"aboutus-icon-2.svg);width: 80px; height: 80px;")
				.text
					p 天鷹保全從不以每一階段顧客之滿意自滿，為求在競爭激烈的業界維持聲譽，二十餘年來，時時刻刻無不戒慎恐懼，嚴密觀察維安趨勢，突破護衛現狀，力求精進。我們視客戶為企業生命中的成長夥伴，客戶的需求是我們積極進取的最大原動力，“使命必達”是我們對客戶的承諾。
		.col-sm-4
			.content
				.img
					span.svg(style="background:url("+url+"aboutus-icon-3.svg);width: 80px; height: 80px;")
				.text
					p 天鷹保全本著穩健經營、永續發展精神，以品質為先、承諾為重，主動積極、全心投入客戶所委託的任何事項，以成為客戶最信賴、最安心的安全屏障為職志。