- var url = '/ezfiles/671/1671/img/8854/'
footer.foot.container.bg-grey
	.row
		.col.map
			ul.list-inline
				li
					a.fz16(href="") 網站地圖
				li
					a.fz16(href="") 服務據點
		.col
			p.fz14
				span.svg(style="background:url("+url+"foot-icon-1.svg); width: 15px; height: 23px;")
				a.fz14(href="tel: (02) 2278 -7189 ") (02) 2278 -7189 
			p.fz14
				span.svg(style="background:url("+url+"fax.svg); width: 20px; height: 19px;")
				span.fz14 (02)2278-7101
		.col
			p.fz14
				span.svg(style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 12px;")
				a(href="mailto:hrm@cecsmaitl.com.tw") hrm@cecsmaitl.com.tw
			p.fz14
				span.svg(style="background:url("+url+"foot-icon-2.svg); width: 20px; height: 12px;")
				a(href="mailto:hrm@cecsmaitl.com.tw") rosina@cecsmail.com.tw
		.col
			p.fz14
				span.svg(style="background:url("+url+"foot-icon-3.svg); width: 20px; height: 18px;")
				a(href="https://goo.gl/maps/euz4zZZZE6etiuXY9" target="_blank") 新北市三重區重新路五段609巷10號4樓之2
		.col
			p.fz14
				span.svg(style="background:url("+url+"home.svg); width: 20px; height: 15px;")
				a.fz14(href="http://www.cecs.tw" target="_blank") http://www.cecs.tw
			//- span.svg(style="background:url("+url+"logo.svg); width: 214px; height: 59px;")
.copy.container-fluid.bg-green
	p.text-center
		span.fz12 2013 © 天鷹保全股份有限公司
		a.fz12(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體