- var url = '/ezfiles/671/1671/img/8854/'
.right
	a.svg(style="background:url("+url+"right-1.svg); width: 95px; height: 95px;")
	a.gotop.svg(style="background:url("+url+"right-2.svg); width: 65px; height: 65px;")
		//- include ../../svg/gotop.svg