//- - var url = '/ezfiles/83/1083/img/8777/'
.tel.bg-yellow.visible-xs
	a(href="tel: 02-2278-7189") 服務專線：02-2278-7189
nav.navbar
	.tel.bg-yellow.hidden-xs
		a(href="tel: 02-2278-7189") 服務專線：02-2278-7189
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.svg(href='/' style="background: url("+url+"logo.svg); width: 319px; height: 59px;")
		#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 關於我們
					ul.dropdown-menu(role='menu')
						li
							a(href="") 公司簡介
						li
							a(href="") 組織架構
						li
							a(href="") 快樂鷹雄隊
						li
							a(href="") 獎項肯定
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 精緻科技物業
					ul.dropdown-menu(role='menu')
						li
							a(href="") 物業服務
						li
							a(href="") 物業顧問
						li
							a(href="") 科技物業
						li
							a(href="") 安全監控產品
				li
					a(href="") 保全服務
				li
					a(href="") 最新消息
				li
					a(href="") 聯絡我們
				li
					a(href="") 代表客戶