- var url = '/ezfiles/671/1671/img/8854/'
// Banner
.banner.container-fluid
	//- .row
	//- 	.container.banner-text
	//- 		h2 不斷推進企業發展
	//- 		h3 我們的創新流量控制解決方案可推動全球關鍵任務應用發展
	//- 		p
	//- 			a.btn(href="") 了解更多
	.row
		.col-xs-12.owl-carousel
			.item
				.img
					img.img-responsive(src=url+"banner.png", alt="")
				.text
					.content-box
						p
							b 忠誠
							| 保密
						p
							| 穩健
							b 永續
			.item
				.img
					img.img-responsive(src=url+"banner-2.jpg", alt="")
				.text
					.content-box
						p
							b 忠誠
							| 保密
						p
							| 穩健
							b 永續
			.item
				.img
					img.img-responsive(src=url+"banner-3.jpg", alt="")
				.text
					.content-box
						p
							b 忠誠
							| 保密
						p
							| 穩健
							b 永續


	//- mshop banner
	//- .row
	//- 	script.
	//- 		$(function () {
	//- 			$('.banner .mads-li').owlCarousel({
	//- 				items: 1,
	//- 				autoplay:true,
	//- 				nav: false,
	//- 				dots: true,
	//- 				navText: [],
	//- 				loop: true,
	//- 				animateOut: 'fadeOut',
	//- 				animateIn: 'fadeIn',
	//- 				autoPlaySpeed: 3000,
	//- 				autoPlayTimeout: 1500,
	//- 				// smartSpeed: 1500,
	//- 				autoplayHoverPause: false,
	//- 			})
	//- 		})
	//- 	.col-xs-12.banner
	//- 		| ===MODULE===